.CircularProgressbar .CircularProgressbar-path {
        stroke: #b6c2c9 !important;
    }

.rate_number{
    height: 100px;

    
    &+div{
        margin-top: -90% !important;
       
    }
    

}
.rate{
        font-size: 2.5rem;
    }

.rate_desc{
    font-size: 0.8rem;
    padding: 0.5rem;
}

.reviews{
    font-size: 0.7rem;
}

